
<div class="createBlog">
<h1>Create Blog - Hot learner</h1>
<label for="">Cover Image</label>
<input type="file" accept="/imageimage/png, image/jpeg, image/jpg" placeholder="choose the cover image.." id="cover_image">
<label for="">Title</label>
<input type="text" placeholder="Title" id="blogTitle">
<label for="">Short description</label>
<input type="text" placeholder="short description" id="blogShortDescription">    
<label for="">main content</label>
<div id="container">
    <div id="editor">
    </div>
</div>
<label for="">Tags</label>
<input type="text" placeholder="tags" id="blogTags">
    <button id="createBlogButton">Create</button>
</div>