<div style="height:50px;"></div>
    <div class="header_top">
        <div class="logo">
            Hot Hot Learner
        </div>
        <div class="user">
            <a href="/myInfo">
                <div class="userProfile"></div>
            </a>
                <p id="userName"></p>

        </div>
        
            <a href="/" class="home"><i class="fa-solid fa-house"></i></a>
        
       
    </div>