<div style="height:50px;">
</div>
    <div class="header_top">
        <div class="logo">
            Hot Hot Learner
        </div>
        
        <nav>
            <ul>
                    <li>
                        <a href="/">Home</a>

                    </li>
                    <li>
                        <a href="#end">About us</a>

                    </li>
                        <li>
                            <a href="#end">Contact us</a>
                        </li>
                
                    </ul>
                </nav>
                        <div class="user">
                            <a href="/myInfo">
                                <div class="userProfile"></div>
                            </a>
                                <p id="userName"></p>
                        </div>
                            <button class="login_button" >Login</button>
                            <button class="logout_button">Logout</button>
                        
        
       
    </div>