<header>
    <%-include('fixNav.ejs');%>
    <div class="header_bottom">
        
        <nav>
            <ul>
                    <li>
                        <a href="#end">about us</a>

                    </li>
                        <li>
                            <a href="#end">contact us</a>
                        </li>
                        <li>
                            <a href="#end">Motive of page</a>
                        </li>
                        
                            <button class="login_button" >login</button>
                            <button class="logout_button">logout</button>
                        
                </ul>
            </nav>
        </div>
</header>