
<style>
.recommend{
    width: 100vw;
    height: 350px;
    overflow-x:scroll;
    overflow-y: hidden;
    display: flex;
}
.slider{
    display: flex;
    height: 100%;
    padding: 10px;

}

.recommend_element{
    width: 200px;
    height: 280px;
    background: #000;
    margin:20px 20px;
}

</style>

<label for="">Recent Stories</label>
<div class="recommend">
    <div class="slider">
        <div class="recommend_element">
        </div>      
    </div>

</div>


</div>