<section>
    <div class=blogbox">
        <div class="title">user List</div>
        <div class="search-box">
          <input type="text" placeholder="Search..." id="searchUserInput">
          
          <i class='bx bx-search' id="searchUserButton"></i>
          <input type="number" placeholder="page" value=1 id="searchUserPageInput">
          <select id="userOrder">
            <option value="1">latest</option>
            <option value="0">oldest</option>
          </select>
        </div>
          <div id="userDateList">
            
          </div>
        </div>

</section>