<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin Dashboard | hot hot learner </title>
    <%-include('./partials/admin.css.ejs')%>
    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">hot hot learner</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#createArea">
            <i class='bx bx-box' ></i>
            <span class="links_name">Create Blog</span>
          </a>
        </li>
        <li>
          <a href="#userArea">
            <i class='bx bx-box' ></i>
            <span class="links_name">Users</span>
          </a>
        </li>
        
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      
      <div class="profile-details">
        <img src="images/profile.jpg" alt="">
        <span class="admin_name">Simon chaudhary</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Blogs</div>
            <div class="number">5</div>
            
          </div>
          <i class='bx bx-book-open cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Users</div>
            <div class="number">1</div>
          </div>
          <i class='bx bxs-user cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">comments</div>
            <div class="number">$12</div>
            
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        
      </div>

      
      
      <div class=blogbox">
          <div class="title">Blog list</div>
          <div class="search-box">
            <input type="text" placeholder="Search..." id="searchBlogInput">
            
            <i class='bx bx-search' id="searchBlogButton"></i>
            <input type="number" placeholder="page" value=1 id="searchBlogPageInput">
            <select id="blogSearchOrder">
              <option value="1">latest</option>
              <option value="0">oldest</option>
            </select>
          </div>
            <div id="blogDateList">
              
            </div>
          </div>
          
          <%-include('./partials/createBlog')%>
          <label id="userArea"></label>
          <%-include('./partials/userArea')%>
<!-- image preview -->
<div class="dim">

  <div class="container1 updateImageContainer">
    <p id="updateImageTitle">Not selected !!</p>
    <input type="file" id="file1" accept="image/*" hidden>
        <div class="img-area1" data-img="">
          <i class='bx bxs-cloud-upload icon'></i>
          <h3>Upload Image</h3>
          <p>Image size must be less than <span>2MB</span></p>
        </div>
        <button class="select-image1">Select Image</button>
        <br>
        <button class="select-image1 updateImage1" >Update</button>
        <br>
        <button class="select-image1 cancelUpdateImage" >Cancel</button>
      </div>
    </div>

  </section>
<!--
            The "super-build" of CKEditor 5 served via CDN contains a large set of plugins and multiple editor types.
            See https://ckeditor.com/docs/ckeditor5/latest/installation/getting-started/quick-start.html#running-a-full-featured-editor-from-cdn
        -->
        <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/super-build/ckeditor.js"></script>
        <!--
            Uncomment to load the Spanish translation
            <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/super-build/translations/es.js"></script>
        -->
  <script type="module" src="/admin.js">

 </script>

</body>
</html>
