<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"   >
    <title>hothotlearner</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    
    <style>
        main{
            padding:0;
        }
        .blogShower{
            position: relative;
            left: 0;
            width: 100vw;
            transform: translate(0%);
            z-index: 0;
            margin: 0px 0px;
        }
        footer{
            width: 100vw;
            margin: 0;
            border-radius: 0px;
        }
        #id{
            display: none;
        }
    </style>
</head>
<body>
    <label id="id"><%=blogId%></label>
    <%-include('./partials/header.ejs'); %>
    
    <main>
        <%-include('./partials/loading.ejs');%>
            <div class="blogShower">
            </div>
            <label for="checkbox" class="commentOnOff">see comments</label>



        
    </main> 
    <%-include('partials/footer.ejs');%>
      <label id="end"></label>

      <script type="module" src="/js/showblog.js"></script>
    </body>
</html>